<style>
  .fart-button {
    display: block;
    width: 100%;
    font-size: x-large;
  }

  .the-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<form action="/fart" method="post">
  <button class="fart-button">fart</button>
</form>

<div class="the-grid">
  <div style="grid-column: 2">
    <h2>hello world 💎</h2>

    <p>
      <b>farttr</b> is a new kind of social media posting experience website.
      farttr is all about the user and the sounds and smells. farttr makes
      hanging out with others funnier and more enjoyable. farttr is the next big
      thing that is gonna leave NFT metaverse web3 in the fuckin dust mate.
    </p>
  </div>
</div>
